    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 13px;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #919191;
        background-color: #232323;
    }

    div.wrapper {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .row1,
    .row1 a {
        color: #C0BAB6;
        background-color: #333333;
    }

    #header,
    #container,
    #footer {
        display: block;
        width: 960px;
        margin: 0 auto;
    }

    #header {
        padding: 20px 0;
        overflow: auto;
    }

    #header #hgroup h1,
    #header #hgroup h2 {
        font-weight: normal;
        font-style: normal;
        text-transform: none;
    }

    #header #hgroup h1 {
        font-size: 36px;
    }

    #header #hgroup {
        float: left;
    }

    a {
        outline: none;
        text-decoration: none;
    }

    #header #hgroup h2 {
        font-size: 13px;
    }

    #header form {
        display: block;
        width: 290px;
        float: right;
        margin: 20px 0;
        border: none;
        ;
    }

    form,
    fieldset,
    legend {
        border: none;
    }

    legend {
        display: none;
    }

    #header form input {
        display: block;
        float: left;
        width: 200px;
        margin: 0;
        padding: 5px;
        color: #C0BAB6;
        background-color: #232323;
        border: 1px solid #666666;
    }

    input,
    textarea,
    select {
        font-size: 12px;
        font-family: Georgia, "Times New Roman", Times, serif;
    }

    #header form #sf_submit {
        display: block;
        float: right;
        width: 70px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #FF9900;
        border: none;
        cursor: pointer;
    }

    #header nav {
        display: block;
        width: 100%;
        margin: 0;
        padding: 20px 0;
        color: #C0BAB6;
        background-color: #232323;
        clear: both;
    }

    #header nav li {
        display: inline;
        margin-right: 25px;
        text-transform: uppercase;
    }

    #header nav li.last {
        margin-right: 0;
    }

    #header nav ul {
        padding: 0 20px;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
    }

    a {
        outline: none;
        text-decoration: none;
        cursor: pointer;
    }
    #header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}